.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  padding: 5rem;
  margin: auto 0;

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__heading {
    color: $color-primary;
    font-size: 4rem;
    text-align: center;
  }

  &__text {
    color: $color-grey-light-2;
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    grid-row: 2 / 3;
  }

  &__img {
    grid-column: 2 / -1;
    grid-row: 1/3;
    width: 60%;
  }
}

h2 {
  color: $color-primary;
  font-size: 3.5rem;
  text-align: center;
}

.soft-skill {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.skill-logo {
  fill: $color-primary;
  width: 4rem;
  height: 4rem;
}

.etst {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.hpt {
  width: 35%;
  display: inline-block;
}

.test {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: $color-primary;
  padding: 1rem;
  border-radius: 15px;
  color: $color-grey-light-1;

  &:link,
  &:visited {
    background-color: $color-primary;

    transition: all 0.3s;
  }

  &:hover,
  &:active {
    background-color: $color-primary-light;
  }
}
